* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfefe;
}

nav button {
  /* border: none; */
  padding: 5px;
  margin: 5px;
}

#homepage {
  display: grid;
}

#banner {
  background-color: #1f618d;
  color: #fdfefe;
}

#main-content {
  background-color: #73c6b6;
}

#hours {
  background-color: #cdb96b;
}

#location {
  background-color: #aab7b8;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
